/***********************************************************************************************************/
/*****************************************   SUPER FLUX V1.0 CSS   *****************************************/
/***********************************************************************************************************/
/*******   FONT   *********/
/**************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* font-family: 'Roboto', sans-serif; */

/**************************/
/*********   ALL   ********/
/**************************/

*
{
    font-family: 'Roboto', sans-serif;
}

/***********************************************************************************************************/
/*************************************************   NAV    ************************************************/
/***********************************************************************************************************/

nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #34495e;
}

/***********************************************************************************************************/
/************************************************   CARDS   ************************************************/
/***********************************************************************************************************/

/***********************************************************************************************************/
/**********************************************   PARAMETRE   **********************************************/
/***********************************************************************************************************/

/***********************************************************************************************************/
/************************************************   FOOTER   ***********************************************/
/***********************************************************************************************************/