/***********************************************************************************************************/
/*****************************************   SUPER FLUX V1.0 CSS   *****************************************/
/***********************************************************************************************************/
/*******   FONT   *********/
/**************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* font-family: 'Roboto', sans-serif; */

/**************************/
/*********   ALL   ********/
/**************************/

*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0px;
    padding: 0px;

}
/***********************************************************************************************************/
/*************************************************   NAV    ************************************************/
/***********************************************************************************************************/

.navbar_style
{
    
}


/***********************************************************************************************************/
/**********************************************   PARAMETRE   **********************************************/
/***********************************************************************************************************/

.theme_dark
{

}

.theme_light
{

}

.theme_ugly
{

}

/***********************************************************************************************************/
/************************************************   CARDS   ************************************************/
/***********************************************************************************************************/

.cards_style
{

}

.cards_style header
{

}

.cards_style
/***********************************************************************************************************/
/************************************************   FOOTER   ***********************************************/
/***********************************************************************************************************/