/***********************************************************************************************************/
/*****************************************   SUPER FLUX V1.0 CSS   *****************************************/
/***********************************************************************************************************/
/*******   FONT   *********/
/**************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* font-family: 'Roboto', sans-serif; */

/**************************/
/*********   ALL   ********/
/**************************/

* 
{
    font-family: 'Roboto', sans-serif;
}


.main 
{
    min-height: 1400px;
    position: relative;
}

/***********************************************************************************************************/
/*************************************************   NAV    ************************************************/
/***********************************************************************************************************/

.navbar_style
{
    background: #34495e;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.288);
}

.navbar_style_a
{
    color: white !important;
}

.navbar_style_button
{
    border: none !important;
    background: none;
    color: white !important;
    transition-duration: 0.3s !important;
    outline: none !important;
}

.navbar_style_button:active
{
    border: none !important;
    transform: rotate(180deg) !important;
    color: #e67e22 !important;
}

.container_parent
{
    margin: 0px !important;
    padding: 0px !important;
    background: #425b75;
    color: white;
}

.container_parent .col_child
{
    background: none;
    transition-duration: 0.3s;
}

.container_parent .col_child:hover
{
    background:rgba(0, 0, 0, 0.103)
}

.container_parent .col_child h2
{
    font-size: 2em !important;
}

.container_parent .col_child .inner
{
    padding: 1em;
}

.form_style
{
    margin: 0px !important;
    padding: 0px !important;
}   

.buttonImg {
    height: 40px;
}

.btnNews {
    width: 100%;
    display: flex;
    background-color: white;
}

.btnNews:hover {

    background-color: grey;

}

.btnNewsSpan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
/* .theme_dark {}

.theme_light {}

.theme_ugly {} */

/***********************************************************************************************************/
/************************************************   CARDS   ************************************************/
/***********************************************************************************************************/
/* 
.cards_style {}

.cards_style header {}

.cards_style */
/***********************************************************************************************************/
/************************************************   FOOTER   ***********************************************/
/***********************************************************************************************************/



footer {
    margin: 0px;
    padding: 0px;
    bottom: 0;
    width: 100%;
    background-color: #34495e;
    color: white;
    height : 120px;
}

.footerLink {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}
